@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050505;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(30, 30, 30, 1) transparent;
  }
  
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 1);
    border-radius: 3px;
  }
}